<!doctype html>
<html>
<head>
    <title>travelr</title>
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300' rel='stylesheet' type='text/css'>
</head>
<body>
<!--Facebook SDK-->
<div class="container" id="home">

    <div class="login">
        <h1>travelr</h1>
        <p>Log in with Facebook to start your adventure.
        <a href="/auth/facebook" class="facebook-login"><span class=""></span> <img src="/public/images/login.png" /></a>
        </p>
    </div>

</div>
</body>
</html>   