<!doctype html>
<html>
<head>
    <title>travelr</title>
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/js/script.js"></script>
</head>
<body>
    <div class="container">
        <div id="welcome">
            <h1>Hello, <%= user.facebook.name %>.</h1>
            <a href="#" class="action-button" id="new-post">New Post</a>
            <a href="/logout" class="action-button">Logout</a>
        </div>
        <div id="create-post">
            <div class="choice">
                <h2>Destination</h2>
                <input type="text" name="destination">
            </div>
            <div class="choice">
                <h2>Date</h2>
                <input type="date" name="date">
            </div>
            <div class="choice">
                <h2>Comments</h2>
                <input type="text" name="comments">
            </div>
        <a href="#" class="action-button">Submit</a>
        </div>
    </div>
</body>
</html>
